<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2></h2>
  <p></p>
  <div class="card" style="width:400px">
    <!-- <img class="card-img-top" src="test.jpg" alt="Card image" style="width:100%"> -->
    <div class="card-body">
      <h4 class="card-title">job posted</h4>
      <p class="card-text">Posted by: S & P Global<br>
        sr.developer<br>
        Job Description: Rest API<br>
        Salary: 100000<br>
        Jobtype: full-time<br>
        Skills: Python,django<br>
        Postedat:<br>
        Experience: 4<br>
        Category: Python</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <br>
 
  <!-- <p>Image at the bottom (card-img-top):</p> -->
  <div class="card" style="width:400px">
    <div class="card-body">
      <h4 class="card-title">sandy</h4>
      <p class="card-text">Some information about sandy</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
    <!-- <img class="card-img-bottom" src="test.jpg" alt="Card image" style="width:100%"> -->
  </div>
</div>
 
</body>
</html>