<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div>&#128514;</div> 
	<!-- smile -->
	<div>&#10084;</div>
	<!-- White heart -->
	<div>&#128525;</div>
	<!-- happy -->
	<div>&#128591;</div>
	<!-- namste -->
	<div>&#129325;</div>
	<!-- full smile -->
	<div>&#128149;</div>
	<!-- double heart -->
	<div>&#128557;</div>
	<!-- rotad -->
	<div>&#128293;</div>
	<!-- fire -->
	<div>&#128536;</div>
	<!-- kiss -->
	<div>&#128077;</div>
	<!-- best of luck -->
	<div>&#128512;</div>
	<!-- normal smile -->
	<div>&#128521;</div>
	<!-- eyes mari -->
	<div>&#128526;</div>
	<!-- attitude -->
	<div>&#129297;</div>
	<!-- money -->
	<div>&#128545;</div>
	<!-- gusso -->
	<div>&#128313;</div>
	<!-- joker -->
	<div>&#128123;</div>
	<!-- bhoot -->
	<div>&#128523;</div>
	<!-- yummy -->
</body>
</html>