<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="\Html Css\static\css\style.css">

	<title>login form</title>
</head>
<body>
	<div class="loginform">
		<h2>login form</h2>

		<form action="" method="post">
			
			<div class="inputfield">
				<input type="text" name="username" required>
				<label>username</label>
			</div>

			<div class="inputfield">
				<input type="password" name="password" required>
				<label>password</label>
			</div>	

			<input type="submit" value="login" class="loginbtn">

			<a href="#">forgotten password ?</a>		
		</form>
	</div>
</body>
</html>